<%= form_tag signin_path do %>
<h2>Sign in</h2>
<br>
  <%= label_tag :email%>
  <%= text_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "log in" %>
<% end %>
